In [ ]:
import pandas as pd

In [ ]:
!unzip /content/testset_v1_3fnd5.zip

Archive:  /content/testset_v1_3fnd5.zip
   creating: TestSet_ForSuperAI_Release01/
  inflating: TestSet_ForSuperAI_Release01/test.en
  inflating: TestSet_ForSuperAI_Release01/test.th

In [ ]:
from string import punctuation

In [ ]:
path = "/content/"
en = open(path+"/TestSet_ForSuperAI_Release01/test.en").read().split("\n")
th = open(path+"/TestSet_ForSuperAI_Release01/test.th").read().split("\n")

In [ ]:
th[0:5]

['เขา ทั้ง เตี้ย ทั้ง อ้วน',
 'พวก เขา บอก ให้ ฉัน เงียบ',
 'คุณ มี แผน อะไร ไหม',
 'แสง ไฟ มืด ลง แล้ว',
 'คุณ ต้อง ยืนหยัด ดำเนิน การ ตาม แผน']

In [ ]:
th_experiment = pd.DataFrame([th])
th_experiment = th_experiment.transpose()
th_experiment.to_csv('th_test.csv')

In [ ]:
th_experiment.to_csv("a.csv")

In [ ]:
en_experiment = pd.DataFrame([en])
en_experiment = en_experiment.transpose()
en_experiment

                                                      0
0                                        What! on fire!
1                                   what is your hobby?
2                          This is a tragic love story.
3                                    Is this road safe?
4              Please turn in your assignments on time.
...                                                 ...
1516  "In the past, the United States government sto...
1517  ExxonMobil wishes to assure members of the pub...
1518  The inquest was opened at the request of famil...
1519  Despite beginning out-patient treatment next w...
1520

[1521 rows x 1 columns]

In [ ]:
len(en_experiment)

1521

In [ ]:
 th_experiment[0][232:238]

232                  แครอท ถูก หั่น เป็น รูป ลูก บาศก์ _
233    เขา สวม หมวก ใบ สี เขียว และ สวม เสื้อ ยืด สี ขาว
234    อากาศ ที่ หนาว ขนาด นี้ ทำ ให้ มือ แข็ง เป็น ท...
235    เด็ก บาง คน เชื่อ ว่า สัตว์ ประหลาด ใน การ์ตูน...
236    แม่ ไป ซุปเปอร์มาร์เก็ต ตั้งแต่ เช้าตรู่ เพื่อ...
237    แม้ว ใช้ วิธี ที่ ไม่ เหมือน ใคร ใน การ รับรอง...
Name: 0, dtype: object

In [ ]:
def removeunderscore(df):
     c = df.replace("_", "")
     return c

In [ ]:
c = th_experiment.replace("_", "")
c[0][233:234]

In [ ]:
'''def removeunderscore(x):
    i = 0
    j = []
    for i in range(0,1512):
        k = x[0][i:i+1].replace('_', '')
        j.append(k)
        i += 1
    return j'''

In [ ]:
#z = th_experiment[0][0:1].replace('น', 5)
#z

0    เขา ทั้ง เตี้ย ทั้ง อ้วน
Name: 0, dtype: object

In [ ]:
#len(th_experiment[0][232:233])

1

In [ ]:
#removeunderscore(th_experiment[0])

In [ ]:
 เซนติเมตร = 10 มิลลิเมตร
1 เดซิเมตร = 10 เซนติเมตร
1 เมตร = 10 เดซิเมตร
1 เมตร = 100 เซนติเมตร
1 เดคาเมตร = 10 เมตร
1 เฮกโตเมตร = 10 เดคาเมตร
1 กิโลเมตร = 10 เฮกโตเมตร
1 กิโลเมตร = 1,000 เมตร อ่านต่อได้ที่

In [ ]:
[เซนติเมตร, มิลลิเมตร, ]